@model DiscountManagement.Web.Models.DashboardViewModel

<h1>Дашборд</h1>

<div class="statistics">
    <div class="stat-item">
        <h2>@Model.TotalCustomers</h2>
        <p>Загальна кількість клієнтів</p>
    </div>
    <div class="stat-item">
        <h2>@Model.TotalOrders</h2>
        <p>Загальна кількість замовлень</p>
    </div>
    <div class="stat-item">
        <h2>@Model.TotalProducts</h2>
        <p>Загальна кількість продуктів</p>
    </div>
</div>

<div class="actions">
    <h3>Клієнти</h3>
    <a class="btn" href="@Url.Action("Create", "Customers")">Створити нового клієнта</a>
    <a class="btn" href="@Url.Action("Index", "Customers")">Переглянути список клієнтів</a>

    <h3>Замовлення</h3>
    <a class="btn" href="@Url.Action("Create", "Orders")">Створити нове замовлення</a>
    <a class="btn" href="@Url.Action("Index", "Orders")">Переглянути список замовлень</a>
    <h3>Продукти</h3>
    <a class="btn" href="@Url.Action("Create", "Products")">Створити новий продукт</a>
    <a class="btn" href="@Url.Action("Index", "Products")">Переглянути список продуктів</a>
</div>
