@model DiscountManagement.Web.Models.DashboardViewModel

<h2>Дашборд</h2>

<p><strong>Загальна кількість клієнтів:</strong> @Model.TotalCustomers</p>
<p><strong>Загальна кількість замовлень:</strong> @Model.TotalOrders</p>
<p><strong>Загальна кількість продуктів:</strong> @Model.TotalProducts</p>

<a href="@Url.Action("Create", "Customers")">Створити нового клієнта</a>
<a href="@Url.Action("Create", "Orders")">Створити нове замовлення</a>
<a href="@Url.Action("Create", "Products")">Створити новий продукт <br></br></a>

<a href="@Url.Action("Index", "Customers")">Переглянути список клієнтів</a>
<a href="@Url.Action("Create", "Orders")">Створити нове замовлення</a>
<a href="@Url.Action("Index", "Products")">Переглянути список продуктів</a>
